.cards {
    margin-top: 45px;

}

.card__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    list-style-type: none;
    grid-gap: 20px 17px;
    margin: 0px;
    padding: 0px;

}

.card__image {
    width: 282px;
    height: 282px;

    border-radius: 10px 10px 0px 0px;
}

.card__description {
    font-family: 'Inter', sans-serif;
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    color: black;
    border-radius: 0px 0px 10px 10px;
    margin: 0px;
    max-width: 282px;


}

.card__title {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    margin: 0px;
    padding: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 20px;
    max-width: 282px;

}


.card__like-button {
    background: transparent url(../images/Like-button.svg) center no-repeat;
    width: 21px;
    height: 18px;
    padding: 0;

    border: none;
    justify-content: flex-end;
    margin-right: 20px;



}

.card {
    display: flex;
    flex-direction: column;
    list-style: none;


}

@media screen and (min-width:320px) and (max-width:1100px) {


    .card__list {
        margin: 0px;
        max-width: calc(100% - 40px);

    }
}